<!DOCTYPE html>
<html>
    <head>
        <style>
             body{background-color: rgb(171, 163, 160);}
        </style>
    </head>
<title>Error</title>
<body>

<p><%=error%></p>


</body>
</html>